section, header.hero, .project-card {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  
  section.show, header.hero.show, .project-card.show {
    opacity: 1;
    transform: translateY(0);
  }
  